.userIcon {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 163px;
    height: 217px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #454545;
    padding-top: 17px;
    cursor: pointer;
}

.imgUser {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    background: #E6E7ED;
    object-fit: cover;
}

.userName {
    align-items: center;
    display: flex;
    font-size: 30px;
    text-align: center;
    line-height: 1em;
    text-overflow: ellipsis;
    justify-content: center;
    padding-top: 23px;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: clip ellipsis;
}

.divInfo {
    display: flex;
    width: 100%;
    height: 100%;

}