.Allcomments{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    gap: 10px;
    margin: 20px; 
    padding-bottom: 1px; 
}

.title{
    font-size: 30px;
}

.title__color_0{
    color: var(--color-blue);
}

.title__color_1{
    color: var(--color-blue-to-yellow-1);

}

.title__color_2{
    color: var(--color-blue-to-yellow-2);

}

.title__color_3{
    color: var(--color-blue-to-yellow-3);

}

.title__color_4{
    color: var(--color-yellow);

}

.title__color_5{
    color: var(--color-yellow-to-red-1);

}

.title__color_6{
    color: var(--color-yellow-to-red-2);

}

.title__color_7{
    color: var(--color-yellow-to-red-3);

}

.title__color_8{
    color: var(--color-red);

}

.title__color_9{
    color: var(--color-red-to-blue-1);

}

.title__color_10{
    color: var(--color-red-to-blue-2);

}

.title__color_11{
    color: var(--color-red-to-blue-3);

}

.divInfo{
    padding-top: 20%;
}