.imgUser{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    border-width: 2px;
    border-style: solid;
    object-fit: cover;
    color: var(--color-blue);
    margin-bottom: 10px;
}


.divAllInfo{
    /* margin-top: 10%; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 5%; */
    margin-top: 100px;
    color: white;
}

.pseudo{
    font-size: 36px;
    height: 36px;
    font-family: 'Basic';
}

.subDivInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.infos{

    font-size: 24px;
    font-family: 'Basic';
}

.infosDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
