.fontbox {
    font-family: 'Basic';
}

.input {
    display: flex;
    flex-direction: column;
    font-weight: 100;
    width: 100%;
}

.input__label {
    width: 100%;
}

.input__label_lighter_gray {
    font-family: 'Basic';
    font-size: 16px;
    color: var(--color-lighter-gray);
}

.chipstyle {
    background-color: #EBB179;
    opacity: 0.9;
    color: var(--color-dark-gray);
    border: 1px solid #EBB179;
    margin-right: 5px;
    font-size: 14px;
}