.input {
    display: flex;
    flex-direction: column;
    font-weight: 100;
    width: 217px;
}

.input__label {
    width: 100%;
}

.input__input {
    padding: 0 15px;
    font-size: 16px;
    height: 27px;
    color: var(--color-dark-gray);
    font-family:'Basic';
}

/* Input colors */
.input__input__blue {
    background-color: #71A6C7;
}

.input__input__blue_to_yellow_1 {
    background-color: var(--color-blue-to-yellow-1);
}

.input__input__blue_to_yellow_2 {
    background-color: var(--color-blue-to-yellow-2);
}

.input__input__blue_to_yellow_3 {
    background-color: var(--color-blue-to-yellow-3);
}

.input__input__yellow {
    background-color: #C0BF83;
}

.input__input__yellow_to_red_1 {
    background-color: var(--color-yellow-to-red-1);
}

.input__input__yellow_to_red_2 {
    background-color: var(--color-yellow-to-red-2);
}

.input__input__yellow_to_red_3 {
    background-color: var(--color-yellow-to-red-3);
}

.input__input__red {
    background-color: var(--color-red);
}

.input__input__red_to_blue_1 {
    background-color: var(--color-red-to-blue-1);
}

.input__input__red_to_blue_2 {
    background-color: var(--color-red-to-blue-2);
}

.input__input__red_to_blue_3 {
    background-color: var(--color-red-to-blue-3);
}

.input__input__gray {
    background-color: var(--color-medium-gray);
}

.input__input__lighter_gray {
    background-color: var(--color-lighter-gray);
}