.input {
    display: flex;
    flex-direction: column;
    font-weight: 100;
    width: 100%;
}

.input__label {
    width: 100%;
}

.input__input {
    padding: 0 15px;
    font-size: var(--input-font-size);
    height: var(--input-height);
    opacity: 0.7;
    color: var(--color-dark-gray);
    font-family:'AmstelvarAlpha';

}

/* Input colors */
.input__blue {
  accent-color: var(--color-blue);
  opacity: 0.7;
}

.input__yellow_to_red_3 {
  accent-color: var(--color-yellow-to-red-3);
  opacity: 0.7;
}

.valueInput__yellow_to_red_3{
  color: var(--color-yellow-to-red-3);
  font-size: 20px;
}

.input__yellow {
  accent-color: var(--color-yellow);
  opacity: 0.7;
}

.valueInput__yellow{
  color: var(--color-yellow);
  font-size: 20px;
}