.home {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-gray);
}

.titre {
	font-size: 100px;
}

.desc {
	font-size: 20px;
	color: white;
	font-family: "Basic";
}

.arrow {
    color: gray;
    width: max-content;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.invalid-alert {
    font-family: 'Basic';
    color: #dd1533;
    font-size: 15px;
}