.home {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: var(--color-dark-gray);
}

.menu {
	right: 20px;
	height: 100%;
	align-items: center;
	width: max-content;
	flex-direction: row;
	display: flex;
	gap: 25px;
	margin-right: 64px;
}

.logout {
	cursor: pointer;
}

.titre {
	font-size: 100px;
}

.desc {
	font-size: 20px;
	color: white;
	font-family: "Basic";
}
