.home {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-gray);
}

.button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.titre {
    font-size: 96px;
    /* font-weight: bold; */
    background: #2BFAFA;
    background: linear-gradient(to right, #2BFAFA 0%, #FDEE00 50%, #E73E01 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}