.search {
	z-index: 1;
	background-color: var(--color-darker-gray);
	display: flex;
	padding: 84px 0px 10px 0px;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	width: 100vw;
}

.searchTitle {
	color: var(--color-lighter-gray);
}

.form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 95vw;
}

.childBox {
	width: 250px;
	margin: 10px;
	font-family: "Basic";
	min-height: 130px;
	max-height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.trueFalse {
	justify-content: space-evenly;
}

@media screen and (max-width: 500px) {
	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 95vw;
	}
}