.button {
    text-align: center;
    min-width: 220px;
    text-transform: uppercase;
}

.false{
    background-color: var(--color-medium-gray);
}

.true_blue{
    background-color: var(--color-blue);
}

.true_blue_to_yellow_1{
    background-color: var(--color-blue-to-yellow-1);
}

.true_blue_to_yellow_2{
    background-color: var(--color-blue-to-yellow-2);
}

.trueFalse{
    border-radius: 10px;
    height: var(--input-height);
    display: flex;
    align-items:center;
    cursor: pointer;
}

.labeltf{
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-family: 'Basic';
}