.iconButton{
    display: flex;
    width: max-content;
    height: max-content;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;

    background-color: rgba(0,0,0,0);
}

.imgButton{
  height: 50px;
}

.text{
    font-size: 20px;
}

.color__blue{
    color: var(--color-blue);
}

.color__blue_to_yellow_2{
    color: var(--color-blue-to-yellow-2);
}

.color__yellow{
    color: var(--color-yellow);
}

.color__yellow_to_red_2{
    color: var(--color-yellow-to-red-2);
}

.color__red{
    color: var(--color-red);
}