.episodeDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    /* width: 160px; */
    height: max-content;
    padding-bottom: 1px; 
    color: #ffffff;
    font-family: "Basic";
}

.borderPoster{
    position: relative;
    /* display: flex; */
    height: 122px;
    width: 217px;
}

.banner{
    height: 122px;
    width: 217px;
    border-radius: 10px;
    object-fit: cover;
}

.name{
    font-size: 16px;
    font-family: "Basic";
}

.movieDate{
    font-family: "Basic";
    color: #B7B7B7;
}

.see{
    display: flex;
    position: absolute;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--color-blue);
    top: 5px;
    right: 5px;
    align-items: center;
    justify-content: center;
    color: #252526;
}

.totalLine{
    display: flex;
    position: absolute;
    border-radius: 10px;
    width: 209px;
    height: 4px;
    background-color: white;
    bottom: 8px;
    left: 4px;
}

.seeLine{
    display: flex;
    position: absolute;
    border-radius: 10px;
    height: 4px;
    background-color: #5E71FF;
    bottom: 8px;
    left: 4px;
}

.seeIcon{
    margin-left: auto;
    margin-right: auto;
}

.time{
    display: flex;
    color: #B7B7B7;
    font-family: "Basic";
    align-items: center;
    margin-bottom: 5px;
}

.synopsis{
    color: #B7B7B7;
    font-family: "Basic";
}