.titre {
    font-size: 100px;
}

.line1 {
    font-size: 40px;
    font-family: 'Basic';
    color: #cdcdcd;
}

.line2 {
    font-size: 20px;
    font-family: 'Basic';
    color: #cdcdcd;

}

.line3 {
    font-size: 20px;
    font-family: 'Basic';
    color: #a8a8a8;
}

.error404Div {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.subDivE404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}