.movieIcon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 144.66px;
    height: max-content;
    padding: 20px;
    padding-bottom: 1px;
    color: #ffffff;
    font-family: "Basic";
}

.poster {
    height: 217px;
    border-radius: 10px;
}

.movieName {
    align-items: center;
    display: flex;
    font-size: 16px;
    text-align: center;
    line-height: 1em;
    text-overflow: ellipsis;
    justify-content: center;
    height: max-content;
    padding-top: 10px;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: clip ellipsis;
    font-family: "Basic";
}

.movieDate {
    font-family: "Basic";
    color: #B7B7B7;
}

.see {
    display: flex;
    position: absolute;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--color-blue);
    top: 25px;
    right: 25px;
    align-items: center;
    justify-content: center;
    color: #252526;
}

.seeIcon {
    margin-left: auto;
    margin-right: auto;
}