.home {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-gray);
}

.button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    /* width: 100%; */
    display: flex;
    
    /* background-color: var(--color-medium-gray); */
    border-radius: 10%;
    padding: 10px; 
}

.titre {
    font-size: 100px;
}

.pwdlink {
    text-decoration: none;
    color: #71A6C7;
    display: flex;
    right: 100%;
    font-size: 10px;
    font-family: 'Basic';
    justify-content: right;
    margin-top: -15px;
    /* align-items: center; */
}

.line {
    width: 80%;
    color:  #9F9F9F;
    background-color: #9F9F9F;
    height: 2px;
    border: 0;
    border-radius: 5px;
    overflow: visible;
    text-align: center;
}

.line::after {
    content: "OU";
    position: relative;
    top: -10px;
    padding: 0 4px;
    background: #252526;
    border-radius: 100%;
}

.titreOmni{
    padding-top: 20px;
    color: var(--color-red);
    font-size: 30px;
}