.form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-bottom: 20px;
    padding-top: 20px;
}

.div__submit {
    display: flex;
    justify-content: center;
    width: 100%;

}

.form__submit {
    max-width: 360px;
}

.form__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}