.form{
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
}

.inputChat{
    height: 100%;
    width: calc(100% - 45px);
    border-radius: 10px;
    background-color: #454545;
    color: white;
    font-size: 20px;
    font-family: 'Basic';
    padding-left: 10px;
}

.buttonChat{
    height: 40px;
    width: 40px;
    background-color: transparent;
}

.icon{
    color: white;
    opacity: 0.7;
}