.home {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-gray);
}

.button-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 457px;
    /* background-color: var(--color-medium-gray); */
    border-radius: 10px;
    padding: 10px; 
}

.titre{
    font-size: 100px;
}

.line {
    width: 80%;
    color:  #9F9F9F;
    background-color: #9F9F9F;
    height: 2px;
    border: 0;
    border-radius: 5px;
    overflow: visible;
    text-align: center;
}

.line::after {
    content: "OU";
    position: relative;
    top: -10px;
    padding: 0 4px;
    background: #252526;
    border-radius: 100%;
}

.titreOmni{
    padding-top: 20px;
    color: var(--color-red);
    font-size: 30px;
}

.invalid-alert{
    font-family: 'Basic';
	color: #dd1533;
    font-size: 15px;
}