.allSeasons{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 700px;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px; 
    padding-bottom: 1px; 
}

.title{
    font-size: 24px;
    color: white;
    font-family: 'Basic';
}

.divSeasons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}