.password_box {
	background-color: rgba(30, 30, 30, 0.85);
	padding: 15px;
	border-radius: 15px;
	color: white;
}

.password_desc {
	font-family: 'Basic';
	color: white;
}

.password_list {
	position: relative;
	left: 20px;
}

.requirement_true {
	font-family: 'Basic';
	color: #00f239;
}

.requirement_false {
	font-family: 'Basic';
	color: #dd1533;
}